
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>memento</title>
</head>

<body>

    <div class="d-flex justify-content-center align-items-center login-container">
        <form action="/" method="POST" class="login-form text-center"> 
            <h1 class="mb-1 font-weight-light"><svg id="loginLogo" width="93" height="79" viewBox="0 0 93 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M61.6123 42.6768H50.06C47.9421 42.6768 46.2092 44.1541 46.2092 45.9596V55.8081C46.2092 57.6137 47.9421 59.091 50.06 59.091H61.6123C63.7302 59.091 65.4631 57.6137 65.4631 55.8081V45.9596C65.4631 44.1541 63.7302 42.6768 61.6123 42.6768ZM61.6123 9.8485V13.1313H30.8062V9.8485C30.8062 8.04294 29.0733 6.56567 26.9554 6.56567C24.8375 6.56567 23.1046 8.04294 23.1046 9.8485V13.1313H19.2538C14.9795 13.1313 11.5908 16.0859 11.5908 19.697L11.5523 65.6566C11.5523 69.2678 14.9795 72.2223 19.2538 72.2223H73.1646C77.4005 72.2223 80.8662 69.2678 80.8662 65.6566V19.697C80.8662 16.0859 77.4005 13.1313 73.1646 13.1313H69.3139V9.8485C69.3139 8.04294 67.581 6.56567 65.4631 6.56567C63.3452 6.56567 61.6123 8.04294 61.6123 9.8485ZM69.3139 65.6566H23.1046C20.9867 65.6566 19.2538 64.1794 19.2538 62.3738V29.5455H73.1646V62.3738C73.1646 64.1794 71.4318 65.6566 69.3139 65.6566Z" fill="#499491"/>
                </svg>memento</h1>
            <h6 class="text-muted">Make time for the things you enjoy.
                <br>Share reminders with your friends and family.</h6>
            <div class="form-group mt-3">
                <input name="username" type="text" class="form-control rounded-pill form-control-lg" placeholder="Username">
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control rounded-pill form-control-lg" placeholder="Password">
            </div>
            <div class="forgot-link form-group d-flex justify-content-between align-items-center">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="remember">
                    <label class="form-check-label" for="remember">Remember Password</label>
                </div>
                <a href="/remember-password">Forgot Password?</a>
            </div>
            <button type="submit" class="btn mt-4 rounded-pill btn-lg btn-custom btn-block text-uppercase">Log in</button>
            <p class="mt-3 text-muted">Don't have an account? <a href="/register"><strong>Register Now</strong></a></p>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    
    <script>
        console.log(`working`)
        // Geolocation code goes here// 
        let lat, lon;
        if ('geolocation' in navigator) {
            console.log('geolocation available');
            navigator.geolocation.getCurrentPosition(async position => {
            lat = position.coords.latitude;
            lon = position.coords.longitude;

            const api_url = `/secret`;
            const response = await fetch(api_url);
            const json = await response.json();
            console.log(json);

            });
      } else{
                console.log('geolocation not available')
    }
        

    </script>
</body>

</html>